/*
 * Global styles
 */

body {
  padding-top: 90px;
}

.gravatar {
  border: 1px solid #d44413;
}


/*
 * Sidebar Roster
 */

#roster { }

#roster .student .student_name { font-size: 1.5em; }


/*
 * Word Frequency Graphs
 */

#word_frequency .progress { margin-bottom: 8px; }
#word_frequency .bar {
  text-align: left;
  padding-left: 4px;
}

textarea {
	 width:400px;	
}

.header {	
	font-size:20px;
	margin-bottom:10px;
}