/*
 * Global styles
 */

body {
  padding-top: 90px;
}

.gravatar {
  border: 1px solid #d44413;
}


/*
 * Sidebar Roster
 */

#roster { }

#roster .student .student_name { font-size: 1.5em; }


/*
 * Word Frequency Graphs
 */

#word_frequency .progress { margin-bottom: 8px; }
#word_frequency .bar {
  text-align: left;
  padding-left: 4px;
}

/*
 * d3.js Graph
 */

svg {
  font: 10px sans-serif;
}

path {
  fill: steelblue;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}
